.recommendedVideos{
    flex: 0.8;
    background-color: #f9f9f9;
    padding: 30px 15px;
    padding-bottom: 0;
}
.recommendedVideos >h2{
    margin-left: 5px;
    margin-bottom: 20px;
    margin-top: 0px;
}
.recommendedVideos__videos {
    display: flex;
    flex-wrap: wrap;
}
@media(max-width: 655px){
    .recommendedVideos{
        flex: 1;
    }
}